.cartItem{
    display: flex;
    width: 90%;
    border: 1px solid;
    margin: 0 0 20px 0;
    // height: 240px;

    .cartItemImg{
        width: 50%;
    }


    .itemDetails{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

git add .
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/HenockAdane/CRWNClothing.git
git push -u origin main

